version: "3.9"

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver2022
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - bd_data:/var/opt/mssql
    restart: always

  db_init:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
        - db
    entrypoint: >
        bash -c "
          for i in {1..30}; do
            /opt/mssql-tools/bin/sqlcmd -S db -U SA -P '${SA_PASSWORD}' -Q 'SELECT 1' && break || sleep 1
          done &&
          /opt/mssql-tools/bin/sqlcmd -S db -U SA -P '${SA_PASSWORD}' -i /ScriptBD.sql
        "
    volumes:
        - ./sql/ScriptBD.sql:/ScriptBD.sql
    restart: "no"

  api:
    build: .
    container_name: sweet-temptation-api
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
volumes:
  bd_data:
