name: ContinuousIntegration API
run-name: CI API

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configurar JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Construir y ejecutar pruebas
        run: mvn clean verify --no-transfer-progress

      - name: Guardar resultados de pruebas
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: pruebas-result
            path: target/sunfire-reports/*.xml

      - name: Reporte de pruebas
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: JUnit Tests
          path: target/sunfire-reports/*.xml
          reporter: java-junit
