name: Continuous Integration / Continuous Deployment API
run-name: CI/CD API

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configurar JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compilar proyecto
        run: mvn clean compile --no-transfer-progress


  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configurar JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Ejecutar pruebas
        run: mvn test --no-transfer-progress

      - name: Guardar resultados de pruebas
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pruebas-result
          path: target/surefire-reports/*.xml

      - name: Reporte de pruebas
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: JUnit Tests
          path: target/surefire-reports/*.xml
          reporter: java-junit

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Ingresar a DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir Imagen Docker
        run: docker build -t  ${{ secrets.DOCKERHUB_USERNAME }}/sweet-temptation-api .

      - name: Subir imagen a DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/sweet-temptation-api

      - name: Iniciar Servicios
        run: docker compose --env-file <(echo "SA_PASSWORD=${{ secrets.SA_PASSWORD }}") up -d --build

      - name: Mostrar estado de servicios
        run: docker ps
